<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>sharOn Lite</title>
</head>
<body>
<div>
  <p><span style="font-size:11.0pt;font-family:Arial,sans-serif">Hi {{cateName}},</span></p>
  <p><span style="font-size:11.0pt;font-family:Arial,sans-serif">Here is new feedback from user.</span></p>
  <p><span style="font-size:11.0pt;font-family:Arial,sans-serif">Feedback Detail:</span></p>
  <div class="im">
    <p style="margin-left:36.0pt"><span style="font-size:11.0pt;font-family:Arial,sans-serif">Sender SAP ID: {{senderSapId}}</span><br/>
    <span style="font-size:11.0pt;font-family:Arial,sans-serif">Sender Name: {{senderName}}</span><br/>
    <span style="font-size:11.0pt;font-family:Arial,sans-serif">Sender Office No: {{senderOfficeNo}}</span><br/>
    <span style="font-size:11.0pt;font-family:Arial,sans-serif">Sender Hand Phone No: {{senderHandPhoneNo}}</span><br/>
    <span style="font-size:11.0pt;font-family:Arial,sans-serif">Sender Email: {{senderEmail}}</span><br/>
    <span style="font-size:11.0pt;font-family:Arial,sans-serif">Attachment1: {{attachment1}}</span><br/>
    <span style="font-size:11.0pt;font-family:Arial,sans-serif">Attachment2: {{attachment2}}</span><br/>
    <span style="font-size:11.0pt;font-family:Arial,sans-serif">Attachment3: {{attachment3}}</span><br/>
    <p style="margin-left:36.0pt"><span style="font-size:11.0pt;font-family:Arial,sans-serif">Created At: {{createdAt}}</span></p>
    <p style="margin-left:36.0pt"><span style="font-size:11.0pt;font-family:Arial,sans-serif">Message: <pre>{{message}}</pre></span></p>
  </div>
</div>
</body>
</html>
