<table style="width: 100%;" border="0" cellspacing="3" cellpadding="3">
<tbody>
<tr>
<td>
<p><span style="color: #888888;">Dear [name],</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="color: #888888;">You recently changed your PUB password. As a security precaution, this notification has been sent to all email addresses associated with your account.</span></p>
<p><span style="color: #888888;">If you did not change your password, please try to reset it again via <a href="[url]"> [url] </a></span></p>
<p><span style="color: #888888;">Thanks.</span></p>
<p><span style="color: #888888;"><br /></span></p>
</td>
</tr>

</tbody>
</table>