<table style="width: 100%;" border="0" cellspacing="3" cellpadding="3">
<tbody>
<tr>
<td>
<p><span style="color: #888888;">Dear [name],</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="color: #888888;">Your account is created sucessfully at Travis Perkins page:</p>
<p><span style="color: #888888;">Email address: [email]</span></p>
<p><span style="color: #888888;">Password: [password]</span></p>
<p><span style="color: #888888;">Thank you</span></p>
<p><span style="color: #888888;"><br /></span></p>
</td>
</tr>
</tbody>
</table>