@font-face {
    font-family: 'Laffayette Comic Pro';
    src: url('fonts/LaffayetteComicPro.eot');
    /* IE9 Compat Modes */
    
    src: url('fonts/LaffayetteComicPro.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('fonts/LaffayetteComicPro.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('fonts/LaffayetteComicPro.woff') format('woff'),
    /* Pretty Modern Browsers */
    
    url('fonts/LaffayetteComicPro.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('fonts/LaffayetteComicPro.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'VAGRounded';
    src: url('fonts/VAGRoundedBold.eot');
    /* IE9 Compat Modes */
    
    src: url('fonts/VAGRoundedBold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('fonts/VAGRoundedBold.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('fonts/VAGRoundedBold.woff') format('woff'),
    /* Pretty Modern Browsers */
    
    url('fonts/VAGRoundedBold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('fonts/VAGRoundedBold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'VAGRoundedThin';
    src: url('fonts/VAGRoundedThin.eot');
    /* IE9 Compat Modes */
    
    src: url('fonts/VAGRoundedThin.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('fonts/VAGRoundedThin.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('fonts/VAGRoundedThin.woff') format('woff'),
    /* Pretty Modern Browsers */
    
    url('fonts/VAGRoundedThin.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('fonts/VAGRoundedThin.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'VAGRoundedLight';
    src: url('fonts/VAGRoundedLight.eot');
    /* IE9 Compat Modes */
    
    src: url('fonts/VAGRoundedLight.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('fonts/VAGRoundedLight.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('fonts/VAGRoundedLight.woff') format('woff'),
    /* Pretty Modern Browsers */
    
    url('fonts/VAGRoundedLight.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('fonts/VAGRoundedLight.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeue LT 65 Medium';
    src: url('fonts/HelveticaNeue-Medium.eot');
    /* IE9 Compat Modes */
    
    src: url('fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('fonts/HelveticaNeue-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('fonts/HelveticaNeue-Medium.woff') format('woff'),
    /* Pretty Modern Browsers */
    
    url('fonts/HelveticaNeue-Medium.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('fonts/HelveticaNeue-Medium.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeueLT-Medium';
    src: url('fonts/HelveticaNeueLT-Medium.eot');
    /* IE9 Compat Modes */
    
    src: url('fonts/HelveticaNeueLT-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('fonts/HelveticaNeueLT-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('fonts/HelveticaNeueLT-Medium.woff') format('woff'),
    /* Pretty Modern Browsers */
    
    url('fonts/HelveticaNeueLT-Medium.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('fonts/HelveticaNeueLT-Medium.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeue LT 93 BlackEx';
    src: url('fonts/HelveticaNeueLT-BlackExt.eot');
    /* IE9 Compat Modes */
    
    src: url('fonts/HelveticaNeueLT-BlackExt.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('fonts/HelveticaNeueLT-BlackExt.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('fonts/HelveticaNeueLT-BlackExt.woff') format('woff'),
    /* Pretty Modern Browsers */
    
    url('fonts/HelveticaNeueLT-BlackExt.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('fonts/HelveticaNeueLT-BlackExt.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'VAGRounded BT';
    src: url('fonts/VAGRoundedBT.eot');
    /* IE9 Compat Modes */
    
    src: url('fonts/VAGRoundedBT.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('fonts/VAGRoundedBT.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('fonts/VAGRoundedBT.woff') format('woff'),
    /* Pretty Modern Browsers */
    
    url('fonts/VAGRoundedBT.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('fonts/VAGRoundedBT.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'VAGRoundedBT';
    src: url('fonts/VAGRoundedBT.eot');
    /* IE9 Compat Modes */
    
    src: url('fonts/VAGRoundedBT.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('fonts/VAGRoundedBT.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('fonts/VAGRoundedBT.woff') format('woff'),
    /* Pretty Modern Browsers */
    
    url('fonts/VAGRoundedBT.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('fonts/VAGRoundedBT.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

#myGame {
    width: 100%;
    #form_login {
        input {
            display: block;
            width: 483px;
            height: 44px;
            margin-bottom: 16px;
            background-color: transparent;
            border: none;
            box-shadow: none;
            outline: none !important;
            text-indent: 20px;
            font-size: 20px;
        }
    }
    #showBoxLeaderBoard {
        outline: inherit !important;
        height: 250px;
        overflow: hidden;
        position: relative;
        margin-left: 20px;
        margin-top: 30px;
        z-index: 1;
        li {
            list-style: none;
            a {
                font-family: 'Laffayette Comic Pro';
                color: black;
                font-size: 25px;
                text-decoration: none;
            }
            margin-bottom: 14px;
            overflow: hidden;
        }
        .nameUserLeaderBoard {
            width: 550px;
            float: left;
        }
        .scoreUserLeaderBoard {
            float: left;
            width: 170px;
        }
    }
    canvas#canvas {
        z-index: 1;
        transition: all 2s ease-out 0s!important;
        -webkit-transform: all 2s ease-out 0s!important;
    }
    canvas#login {
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 0px;
    }
    #form_create_account {
        input {
            display: block;
            width: 472px;
            height: 42px;
            margin-bottom: 16px;
            border: none;
            background-color: transparent;
            margin-left: 2px;
            text-indent: 12px;
            font-size: 19px;
            outline: inherit !important;
        }
        select {
            width: 306px;
            height: 42px;
            border: none;
            margin-top: 1px;
            margin-left: 2px;
            text-indent: 9px;
            background-color: rgb(232, 232, 232);
            font-size: 19px;
            outline: inherit !important;
        }
        #submit_createAccount {
            position: absolute;
            bottom: -1px;
            right: -12px;
            width: 118px;
            background-color: transparent;
            height: 46px;
            border: none;
            outline: inherit !important;
            display: block;
        }
    }
    #form_create_account.form_create_account_social select {
        margin-top: 121px;
    }
    #form_lost_password {
        input {
            display: block;
            width: 472px;
            height: 42px;
            border: none;
            background-color: transparent;
            margin-left: 2px;
            text-indent: 12px;
            font-size: 19px;
            outline: inherit !important;
        }
    }
}

body {
    background-color: #CAD1DA!important;
    overflow: hidden;
    margin: auto;
	#div_bad{
		width: 230px;
		margin: auto;
	}
    #load-main {
        z-index: 1;
        width: 960px;
        margin: auto;
        position: relative;
        top: -375px;
        transition: all 0s ease-out 0s!important;
        -webkit-transform: all 0s ease-out 0s!important;
        opacity: 1;
        .icon-bulding {
            margin: auto;
            width: 100%;
            text-align: center;
            opacity: 0.7;
            img {
                position: relative;
                top: -10px;
            }
        }
        #bar {
            width: 0%;
            height: 5px;
            background-color: #596C84;
            transition: all 0s ease-out 0s!important;
            -webkit-transform: all 0s ease-out 0s!important;
            margin: auto;
            display: block;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
        #percent-loading {
            width: 100%;
            text-align: center;
            margin: auto;
            color: #596C84;
            font-family: 'Laffayette Comic Pro';
            font-size: 19px;
            margin-top: -39px;
        }
    }
    canvas {
        display: block;
        margin: auto;
		background-color: white !important;
    }
    .ploading {
        width: 100%;
        position: fixed;
        height: 100%;
        background-color: rgba(195, 195, 195, 0.54);
        color: white;
        top: 0px;
        margin-top: 0;
        display: none;
        z-index: 999;
    }
    #leaderBoardOptionBox {
        z-index: 2;
        display: none;
        background: url(../images/OptionsMenuMap.png);
        width: 311px;
        height: 326px;
        top: -163px;
        left: -62px;
        position: absolute;
        display: block;
        .bntL {
            position: absolute;
            top: 12px;
            left: 16px;
        }
        .log {
            margin: 77px 0 0 17px;
        }
        .sound {
            margin: 8px 0px 0px 17px;
        }
        .shareF {
            margin: 7px 0 0 14px;
        }
        .shareT {
            margin: 7px 0px 0px 14px;
        }
    }
    /* POPUP*/
    
    .dis_none {
        display: none;
    }
    .setWidthPop {
        width: 365px;
        margin: auto;
    }
    .font-bold () {
        font-family: 'VAGRounded';
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
    }
    ;
    .font-content() {
        font-family: 'VAGRounded';
        font-weight: 700;
        font-style: normal;
        font-size: 26px;
        text-align: center;
    }
    .popup {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 272px;
        margin: auto;
        padding: 0;
        overflow: hidden;
        h2 {
            position: absolute;
            top: 10px;
            left: 21px;
            margin: 0;
            color: white;
            .font-bold();
        }
        .popup-left {
            background: transparent url('../images/topleft.png') no-repeat top left;
            height: 272px;
            width: 21px;
            float: left;
        }
        .popup-content {
            background: transparent url('../images/tiling.png') repeat-x top left;
            height: 272px;
            max-width: 300px;
            padding: 0 15px;
            float: left;
            .font-content();
            .content {
                margin-top: 75px;
            }
            .buttons {
                display: inline-block;
                padding: 0px 0px;
                min-width: 150px;
                background: #502a40;
                border: none !important;
                color: white;
                cursor: pointer;
                font-family: 'VAGRoundedBold';
                font-weight: 700;
                font-style: normal;
                font-size: 26px;
                text-align: center;
                margin-top: 20px;
                outline: inherit !important;
                button {
                    display: inline-block;
                    padding: 5px 15px;
                    min-width: 150px;
                    background: #502A40;
                    border: none !important;
                    color: white;
                    cursor: pointer;
                    .font-content();
                    outline: inherit !important;
                    box-shadow: none !important;
                }
                button:hover {
                    background-color: #3C1C2E;
                }
            }
        }
        .popup-right {
            background: transparent url('../images/topright.png') no-repeat top left;
            height: 272px;
            width: 14px;
            float: left;
        }
        .popup-close {
            text-indent: -9999px;
            background: transparent url(../images/closebutton.png) no-repeat;
            width: 44px;
            height: 50px;
            border: 0!important;
            right: 14px;
            position: absolute;
            cursor: pointer;
            outline: inherit!important;
            box-shadow: none!important;
            background-size: 100%;
            top: 3px;
        }
    }
    #popup_register_complete {
        width: auto;
        .popup-content {
            width: 480px;
            max-width: 357px;
        }
    }
    #showBoxLeaderBoard {
        .mCSB_scrollTools {
            margin-right: 40px;
        }
        .mCSB_draggerContainer {
            margin: 48px 0;
        }
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            width: 7px;
            opacity: 1!important;
            background-color: #D0D0D0;
        }
        .mCSB_scrollTools .mCSB_draggerRail{
            background-color: #F3F3F3;
        }
        .mCSB_buttonUp {
            background-image: url(../images/Arrow.png);
            background-repeat: no-repeat;
            opacity: 1;
            background-position: 0;
            right: -10px;
            width: 36px;
            height: 39px;
            top: -1px;
        }
        .mCSB_buttonDown {
            background-image: url(../images/Arrow_down.png);
            background-repeat: no-repeat;
            opacity: 1;
            background-position: 0;
            right: -10px;
            width: 36px;
            height: 39px;
            bottom: 0px;
        }
    }
}