@font-face {
    font-family: 'Laffayette Comic Pro';
    src: url(fonts/LaffayetteComicPro.eot);
    src: url(fonts/LaffayetteComicPro.eot?#iefix) format('embedded-opentype'), url(fonts/LaffayetteComicPro.woff2) format('woff2'), url(fonts/LaffayetteComicPro.woff) format('woff'), url(fonts/LaffayetteComicPro.ttf) format('truetype'), url(fonts/LaffayetteComicPro.svg#svgFontName) format('svg')
}

@font-face {
    font-family: VAGRounded;
    src: url(fonts/VAGRoundedBold.eot);
    src: url(fonts/VAGRoundedBold.eot?#iefix) format('embedded-opentype'), url(fonts/VAGRoundedBold.woff2) format('woff2'), url(fonts/VAGRoundedBold.woff) format('woff'), url(fonts/VAGRoundedBold.ttf) format('truetype'), url(fonts/VAGRoundedBold.svg#svgFontName) format('svg')
}

@font-face {
    font-family: VAGRoundedThin;
    src: url(fonts/VAGRoundedThin.eot);
    src: url(fonts/VAGRoundedThin.eot?#iefix) format('embedded-opentype'), url(fonts/VAGRoundedThin.woff2) format('woff2'), url(fonts/VAGRoundedThin.woff) format('woff'), url(fonts/VAGRoundedThin.ttf) format('truetype'), url(fonts/VAGRoundedThin.svg#svgFontName) format('svg')
}

@font-face {
    font-family: VAGRoundedLight;
    src: url(fonts/VAGRoundedLight.eot);
    src: url(fonts/VAGRoundedLight.eot?#iefix) format('embedded-opentype'), url(fonts/VAGRoundedLight.woff2) format('woff2'), url(fonts/VAGRoundedLight.woff) format('woff'), url(fonts/VAGRoundedLight.ttf) format('truetype'), url(fonts/VAGRoundedLight.svg#svgFontName) format('svg')
}

@font-face {
    font-family: 'HelveticaNeue LT 65 Medium';
    src: url(fonts/HelveticaNeue-Medium.eot);
    src: url(fonts/HelveticaNeue-Medium.eot?#iefix) format('embedded-opentype'), url(fonts/HelveticaNeue-Medium.woff2) format('woff2'), url(fonts/HelveticaNeue-Medium.woff) format('woff'), url(fonts/HelveticaNeue-Medium.ttf) format('truetype'), url(fonts/HelveticaNeue-Medium.svg#svgFontName) format('svg')
}

@font-face {
    font-family: HelveticaNeueLT-Medium;
    src: url(fonts/HelveticaNeueLT-Medium.eot);
    src: url(fonts/HelveticaNeueLT-Medium.eot?#iefix) format('embedded-opentype'), url(fonts/HelveticaNeueLT-Medium.woff2) format('woff2'), url(fonts/HelveticaNeueLT-Medium.woff) format('woff'), url(fonts/HelveticaNeueLT-Medium.ttf) format('truetype'), url(fonts/HelveticaNeueLT-Medium.svg#svgFontName) format('svg')
}

@font-face {
    font-family: 'HelveticaNeue LT 93 BlackEx';
    src: url(fonts/HelveticaNeueLT-BlackExt.eot);
    src: url(fonts/HelveticaNeueLT-BlackExt.eot?#iefix) format('embedded-opentype'), url(fonts/HelveticaNeueLT-BlackExt.woff2) format('woff2'), url(fonts/HelveticaNeueLT-BlackExt.woff) format('woff'), url(fonts/HelveticaNeueLT-BlackExt.ttf) format('truetype'), url(fonts/HelveticaNeueLT-BlackExt.svg#svgFontName) format('svg')
}

@font-face {
    font-family: 'VAGRounded BT';
    src: url(fonts/VAGRoundedBT.eot);
    src: url(fonts/VAGRoundedBT.eot?#iefix) format('embedded-opentype'), url(fonts/VAGRoundedBT.woff2) format('woff2'), url(fonts/VAGRoundedBT.woff) format('woff'), url(fonts/VAGRoundedBT.ttf) format('truetype'), url(fonts/VAGRoundedBT.svg#svgFontName) format('svg')
}

@font-face {
    font-family: VAGRoundedBT;
    src: url(fonts/VAGRoundedBT.eot);
    src: url(fonts/VAGRoundedBT.eot?#iefix) format('embedded-opentype'), url(fonts/VAGRoundedBT.woff2) format('woff2'), url(fonts/VAGRoundedBT.woff) format('woff'), url(fonts/VAGRoundedBT.ttf) format('truetype'), url(fonts/VAGRoundedBT.svg#svgFontName) format('svg')
}

#myGame {
    width: 100%
}

#myGame #form_login input {
    display: block;
    width: 483px;
    height: 44px;
    margin-bottom: 16px;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    outline: 0!important;
    text-indent: 20px;
    font-size: 20px
}

#showBoxLeaderBoard {
    outline: inherit!important;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
    z-index: 1
}

#showBoxLeaderBoard li {
    list-style: none;
    margin-bottom: 14px;
    overflow: hidden
}

#showBoxLeaderBoard li a {
    font-family: 'Laffayette Comic Pro';
    color: #000;
    font-size: 25px;
    text-decoration: none
}

#showBoxLeaderBoard .nameUserLeaderBoard {
    width: 550px;
    float: left
}

#showBoxLeaderBoard .scoreUserLeaderBoard {
    float: left;
    width: 170px
}

#myGame canvas#canvas {
    z-index: 1;
    transition: all 2s ease-out 0s!important;
    -webkit-transform: all 2s ease-out 0s!important
}

#myGame canvas#login {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0
}

#myGame #form_create_account input {
    display: block;
    width: 472px;
    height: 42px;
    margin-bottom: 16px;
    border: 0;
    background-color: transparent;
    margin-left: 2px;
    text-indent: 12px;
    font-size: 19px;
    outline: inherit!important
}

#myGame #form_create_account select {
    width: 306px;
    height: 42px;
    border: 0;
    margin-top: 1px;
    margin-left: 2px;
    text-indent: 9px;
    background-color: #e8e8e8;
    font-size: 19px;
    outline: inherit!important
}

#myGame #form_create_account #submit_createAccount {
    position: absolute;
    bottom: -1px;
    right: -12px;
    width: 118px;
    background-color: transparent;
    height: 46px;
    border: 0;
    outline: inherit!important;
    display: block
}

#myGame #form_create_account.form_create_account_social select {
    margin-top: 121px
}

#myGame #form_lost_password input {
    display: block;
    width: 472px;
    height: 42px;
    border: 0;
    background-color: transparent;
    margin-left: 2px;
    text-indent: 12px;
    font-size: 19px;
    outline: inherit!important
}

body {
    background-color: #CAD1DA!important;
    overflow: hidden;
    margin: auto
}

body #div_bad {
    width: 230px;
    margin: auto
}

body #load-main {
    z-index: 1;
    width: 960px;
    margin: auto;
    position: relative;
    top: -375px;
    transition: all 0s ease-out 0s!important;
    -webkit-transform: all 0s ease-out 0s!important;
    opacity: 1
}

body #load-main .icon-bulding {
    margin: auto;
    width: 100%;
    text-align: center;
    opacity: .7
}

body #load-main .icon-bulding img {
    position: relative;
    top: -10px
}

body #load-main #bar {
    width: 0;
    height: 5px;
    background-color: #596C84;
    transition: all 0s ease-out 0s!important;
    -webkit-transform: all 0s ease-out 0s!important;
    margin: auto;
    display: block;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px
}

body #load-main #percent-loading {
    width: 100%;
    text-align: center;
    margin: auto;
    color: #596C84;
    font-family: 'Laffayette Comic Pro';
    font-size: 19px;
    margin-top: -39px
}

body canvas {
    display: block;
    margin: auto;
    background-color: #fff!important
}

body .ploading {
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: rgba(195, 195, 195, .54);
    color: #fff;
    top: 0;
    margin-top: 0;
    display: none;
    z-index: 999
}

body #leaderBoardOptionBox {
    z-index: 2;
    display: none;
    background: url(../images/OptionsMenuMap.png);
    width: 311px;
    height: 326px;
    top: -163px;
    left: -62px;
    position: absolute;
    display: block
}

body #leaderBoardOptionBox .bntL {
    position: absolute;
    top: 12px;
    left: 16px
}

body #leaderBoardOptionBox .log {
    margin: 77px 0 0 17px
}

body #leaderBoardOptionBox .sound {
    margin: 8px 0 0 17px
}

body #leaderBoardOptionBox .shareF {
    margin: 7px 0 0 14px
}

body #leaderBoardOptionBox .shareT {
    margin: 7px 0 0 14px
}

body .dis_none {
    display: none
}

body .setWidthPop {
    width: 365px;
    margin: auto
}

body .popup {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 272px;
    margin: auto;
    padding: 0;
    overflow: hidden
}

body .popup h2 {
    position: absolute;
    top: 10px;
    left: 21px;
    margin: 0;
    color: #fff;
    font-family: VAGRounded;
    font-weight: 700;
    font-style: normal;
    font-size: 32px
}

body .popup .popup-left {
    background: transparent url(../images/topleft.png) no-repeat top left;
    height: 272px;
    width: 21px;
    float: left
}

body .popup .popup-content {
    background: transparent url(../images/tiling.png) repeat-x top left;
    height: 272px;
    max-width: 300px;
    padding: 0 15px;
    float: left;
    font-family: VAGRounded;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    text-align: center
}

body .popup .popup-content .content {
    margin-top: 75px
}

body .popup .popup-content .buttons {
    display: inline-block;
    padding: 0;
    min-width: 150px;
    background: #502a40;
    border: 0!important;
    color: #fff;
    cursor: pointer;
    font-family: VAGRoundedBold;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    outline: inherit!important
}

body .popup .popup-content .buttons button {
    display: inline-block;
    padding: 5px 15px;
    min-width: 150px;
    background: #502A40;
    border: 0!important;
    color: #fff;
    cursor: pointer;
    font-family: VAGRounded;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    outline: inherit!important;
    box-shadow: none!important
}

body .popup .popup-content .buttons button:hover {
    background-color: #3C1C2E
}

body .popup .popup-right {
    background: transparent url(../images/topright.png) no-repeat top left;
    height: 272px;
    width: 14px;
    float: left
}

body .popup .popup-close {
    text-indent: -9999px;
    background: transparent url(../images/closebutton.png) no-repeat;
    width: 44px;
    height: 50px;
    border: 0!important;
    right: 14px;
    position: absolute;
    cursor: pointer;
    outline: inherit!important;
    box-shadow: none!important;
    background-size: 100%;
    top: 3px
}

body #popup_register_complete {
    width: auto
}

body #popup_register_complete .popup-content {
    width: 480px;
    max-width: 357px
}

body #showBoxLeaderBoard .mCSB_scrollTools {
    margin-right: 40px
}

body #showBoxLeaderBoard .mCSB_draggerContainer {
    margin: 48px 0
}

body #showBoxLeaderBoard .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 7px;
    opacity: 1!important;
    background-color: #D0D0D0
}

body #showBoxLeaderBoard .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #F3F3F3
}

body #showBoxLeaderBoard .mCSB_buttonUp {
    background-image: url(../images/Arrow.png);
    background-repeat: no-repeat;
    opacity: 1;
    background-position: 0;
    right: -10px;
    width: 36px;
    height: 39px;
    top: -1px
}

body #showBoxLeaderBoard .mCSB_buttonDown {
    background-image: url(../images/Arrow_down.png);
    background-repeat: no-repeat;
    opacity: 1;
    background-position: 0;
    right: -10px;
    width: 36px;
    height: 39px;
    bottom: 0
}